In [1]:
# loading the dataset & loading in the python libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
# Question 1

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
df1 = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

In [5]:
df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [6]:
df.shape

(60943, 12)

In [7]:
# Question 4

# What is the total Protein supply quantity in Madagascar in 2015?

total_prot_supply = df[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar')]['Y2015'].sum()
total_prot_supply
round(total_prot_supply,2)

173.05

In [8]:
# Question 5

# What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [9]:
#Question 6

#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

mean = df.describe(include = 'all').loc['mean', 'Y2017']
std = df.describe(include = 'all').loc['std', 'Y2017']

print(f" The mean for the entire dataset in 2017 is : {round(mean,2)} \n and The standard deviation for the entire dataset for year 2017 is: {round(std,2)}")

 The mean for the entire dataset in 2017 is : 140.92
 and The standard deviation for the entire dataset for year 2017 is: 1671.86

In [10]:
# Question 7

# Which year had the least correlation with â€˜Element Codeâ€™?

corr_matrix = df.corr()
corr_matrix

# Year with the least correlation code
element_code_corr = corr_matrix['Element Code'].drop(['Area Code', 'Item Code', 'Element Code'])
element_code_corr
year_with_least_corr = element_code_corr.idxmin()
year_with_least_corr

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\1985029586.py:4: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

'Y2016'

In [11]:
# Question 8

# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the 7th lowest sum in 2017?

df.groupby('Area')[['Area','Y2017']].sum().sort_values(by = 'Y2017', ascending = False).tail(7)

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\2992436358.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Area')[['Area','Y2017']].sum().sort_values(by = 'Y2017', ascending = False).tail(7)

                          Y2017
Area
Guinea-Bissau          19102.77
Cabo Verde             14650.74
Sao Tome and Principe  12662.63
Seychelles               442.34
Comoros                   59.84
Sudan (former)             0.00
Ethiopia PDR               0.00

In [12]:
# Question 9

# Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Wine produced in 2015 and 2018 respectively?
# Hint:

# Perform a groupby sum aggregation on â€˜Itemâ€™

result = df[df['Item'] == 'Wine'].groupby('Item')[['Item', 'Y2015', 'Y2018']].sum()
result

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\960558955.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df[df['Item'] == 'Wine'].groupby('Item')[['Item', 'Y2015', 'Y2018']].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [13]:
# Question 10

# Given the following python code, what would the output of the code give?
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [14]:
# Question 11

# Perform a groupby operation on â€˜Elementâ€™.  What is the total number of the sum of Processing in 2017?

result1 = df[df['Element'] == 'Processing'].groupby('Element')[['Element', 'Y2017']].sum()
result1

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\1339934850.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result1 = df[df['Element'] == 'Processing'].groupby('Element')[['Element', 'Y2017']].sum()

               Y2017
Element
Processing  292836.0

In [15]:
# Question 12

# Consider the following list of tuples:
# How would you assign element 8 from the list to a variable x?
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]
x = y[1][1]
x

8

In [16]:
# Question 16

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

total = df['Y2014'].count()
total_2014 = df['Y2014'].isnull().sum()
percentage_missing = total_2014/total * 100
print(f" The total number and percentage of missing data in 2014 is :{total_2014}, {round(percentage_missing,3)}")

 The total number and percentage of missing data in 2014 is :1589, 2.677

In [17]:
# Question 17

# What is the total number of unique countries in the dataset?
df.Area.nunique()

49

In [18]:
# Question 18

# Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?
df[df['Element'] == 'Stock Variation'].groupby('Element').sum()

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\815673981.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Element'] == 'Stock Variation'].groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

In [19]:
# Question 19

# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  Which of these Areas had the highest sum in 2017?
df.groupby('Area')[['Area','Y2017']].sum().sort_values(by = 'Y2017', ascending = False).idxmax()

C:\Users\USER\AppData\Local\Temp\ipykernel_1432\2705337786.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Area')[['Area','Y2017']].sum().sort_values(by = 'Y2017', ascending = False).idxmax()

Y2017    Nigeria
dtype: object